/*

MISSISSIPPI STATE COLOR PALETTE
msstate maroon: #660000;
msstate light gray: #CCCCCC;
msstate dark gray: #777777;

SECONDARY/ACCENT COLORS
#A69F88;
#DAC79D;

*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
    font-family: 'Open Sans', sans-serif;
}

#wrapper {
    width: 96%;
    max-width: 2000px;
    height: 100%;
    margin: auto;
    padding: 10px;
}

button {
    padding: 5px;
    font-weight: bold;
    color: white;
    border-radius: 5px;
    border: none;
    background-color: #777777;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
}

button:hover {
    background: #A69F88;
}

#login {
    margin-bottom: 50px;
    text-align: right;
    background: #660000;
    padding: 10px;
    color: white;
    box-shadow: 0px 10px 15px #cccccc;
}

#user-name {
    font-size: 12px;
    font-weight: bolder;
}

#login button {
    background: #777777;
}

#login button:hover {
    background: #A69F88;
}

#login div {
    padding-right: 5px;
    padding-left: 5px;
}

#welcome-message {
    font-style: italic;
    font-weight: normal;
}

#welcome {
    text-align: center;
}

#welcome h1 {
    text-transform: uppercase;
    letter-spacing: 2px;
}

#welcome h2 {
    font-style: italic;
    font-weight: normal;
}

#getdata {
    text-align: center;
}

#search-results {
    width: 70%;
    max-width: 700px;
    margin: auto;
    text-align: left;
}

ol {
    list-style-position: outside;
}

.libguides-name li {
    padding-bottom: 20px;
}

button.libguides-button {
    margin-top: 10px;
    background-color: #660000;
}

button.libguides-button:hover {
    background-color: #A69F88;
}

#myfavorites {
    width: 80%;
    padding: 5px;
    margin: auto;
    border: solid 1px #CCCCCC;
    box-shadow: 0px 10px 15px #CCCCCC;
}

#myfavorites h3 {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
}

#favorites button {
    display: none;
}
